body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #55e9e9, #3bd3a0, #66a6da);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #0dd1b0, #30d6e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table-container {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
}
.row {
    background: rgba(18, 163, 103, 0.05);
    border: 2px solid rgb(80, 241, 201);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(13, 255, 0, 0.854));
}
.cell {
    font-size: 1.6em;
    font-weight: bold;
    color: #45dffa;
    text-shadow: 0 0 15px rgb(50, 228, 124);
    margin-bottom: 15px;
    text-align: center;
}
.sub-row {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.letter {
    font-size: 1.2em;
    font-weight: bold;
    color: #0f6cc4;
    text-shadow: 0 0 10px rgba(27, 44, 201, 0.7);
    text-align: center;
}
.input-box {
    background: rgb(0, 0, 0);
    border: 2px solid #24d6cd;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}
.input-box:focus {
    border-color: #45daee;
    box-shadow: 0 0 15px rgba(38, 218, 250, 0.7);
}